<section id="about" class="u-pb-60">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 mx-auto">
        <h2 class="h1">
          La révolution que vous attendez enfin à portée de click.
        </h2>
        <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-70 mx-auto"></div>
        <p>
          Nous mettons à votre disposition un écosystème complet, rapide et
          sécurisé pour créer, gérer vos contrats d'assurance. Vos contrats
          peuvent être consulté en tout temps, en tout endroit car elle
          profitera de toute la puissance offerte par la blockchain.
        </p>
        <!-- <a href="#" class="btn btn-primary btn-rounded mt-4">Read More</a> -->
      </div>
      <div class="col-12 u-mt-70 text-center">
        <img src="assets/img/startup/s-1.png" alt="Dino" />
      </div>
    </div>
  </div>
</section>
