<section id="blog" class="bg-gray-v2">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 m-auto text-center">
              <h2 class="h1">
                  Latest News
              </h2>
              <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
              <div class="card border-0 box-shadow-v1 u-h-100p">
                  <img src="assets/img/blog/1.jpg" alt="Dino">
                  <div class="u-p-30">
                      <h4>Your news title here</h4>
                      <p class="d-flex text-muted">
                          <span><i class="icon icon-Time mr-1"></i> June 24, 2018</span>
                          <span><i class="icon icon-Eye mr-1 ml-3"></i> 687 Views</span>
                      </p>
                      <p>It is a long established fact that a reader will be distracted by the readable content ...</p>
                      <a href="#" class="btn btn-primary btn-rounded my-3">Read More</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
              <div class="card border-0 box-shadow-v1 u-h-100p">
                  <img src="assets/img/blog/3.jpg" alt="Dino">
                  <div class="u-p-30">
                      <h4>Your news title here</h4>
                      <p class="d-flex text-muted">
                          <span><i class="icon icon-Time mr-1"></i> Aug 13, 2018</span>
                          <span><i class="icon icon-Eye mr-1 ml-3"></i> 461 Views</span>
                      </p>
                      <p>It is a long established fact that a reader will be distracted by the readable content ...</p>
                      <a href="#" class="btn btn-primary btn-rounded my-3">Read More</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4 dino-seo-col">
              <div class="card border-0 box-shadow-v1 u-h-100p">
                  <img src="assets/img/blog/2.jpg" alt="Dino">
                  <div class="u-p-30">
                      <h4>Your news title here</h4>
                      <p class="d-flex text-muted">
                          <span><i class="icon icon-Time mr-1"></i> Sep 27, 2018</span>
                          <span><i class="icon icon-Eye mr-1 ml-3"></i> 235 Views</span>
                      </p>
                      <p>It is a long established fact that a reader will be distracted by the readable content ...</p>
                      <a href="#" class="btn btn-primary btn-rounded my-3">Read More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>