<section class="bg-gray-v2 u-pb-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 u-mb-30">
        <div class="media">
          <span class="icon icon-Briefcase text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Contrats intelligents
            </h4>
            <p>
              Profiter de toutes les possibilités offertes par les contrats
              intelligents ne perdre plus de temps dans les procédures.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 u-mb-30">
        <div class="media">
          <span class="icon icon-Web text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Solutions digitales
            </h4>
            <p>
              Des applications web, android, IOS & chatbot seront mis à votre
              dispositions pour vous faciliter la gestion de votre vos contrats.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 u-mb-30">
        <div class="media">
          <span class="icon icon-Dollars text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Payement instantané
            </h4>
            <p>
              Recever vos recouvrement immédiatement sur votre téléphone mobile
              dans la devise de votre choix(Bitcoin, Ether, Ariary, Euro...)
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 u-mb-30">
        <div class="media">
          <span class="icon icon-Headset text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Support dédié
            </h4>
            <p>
              On sera toujours là pour vous, pour vous aider. Et pour cela nous
              mettrons à votre disposition chatbot, messagerie intantanée,
              mail...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 u-mb-30">
        <div class="media">
          <span class="icon icon-ClosedLock text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Sécurité renforcée
            </h4>
            <p>
              Soyer rassuré que votre contrat sera disponnible pour toujours,
              grâce aux possibilités offertes par la blockchain.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 u-mb-30">
        <div class="media">
          <span class="icon icon-Starship2 text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Partout, tout le temps
            </h4>
            <p>
              Vos contrats seront toujours avec vous et peuvent être déclanché
              depuis n'importe où dans le nombe à n'importe quel fuseau
              horraire.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
