<section class="bg-gray-v2 u-pb-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 u-mb-30">
        <div class="media">
          <span class="icon icon-Briefcase text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Contrats intelligents
            </h4>
            <p>

              Les contrats intelligents vous feront gagner du temps dans les procédures et les 
              déplacements, car ils n'ont besoin de personne pour s'executer.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 u-mb-30">
        <div class="media">
          <span class="icon icon-Web text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Solutions digitales
            </h4>
            <p>
              Des applications web, android & IOS seront mis à votre
              disposition pour vous faciliter la gestion de votre vos contrats.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 u-mb-30">
        <div class="media">
          <span class="icon icon-Dollars text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Payement instantané
            </h4>
            <p>
              Recever immédiatement  vos recouvrements sur votre téléphone mobile
              dans la devise de votre choix(Bitcoin, Ether, Ariary, Euro...)
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 u-mb-30">
        <div class="media">
          <span class="icon icon-Headset text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Support dédié
            </h4>
            <p>
              On sera toujours là pour vous, pour vous aider. Et pour cela nous
              mettrons à votre disposition chatbot, messagerie intantanée,
              mail...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 u-mb-30">
        <div class="media">
          <span class="icon icon-ClosedLock text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Sécurité renforcée
            </h4>
            <p>
              Soyez assuré que vos contrats seront disponnibles pour toujours,
              grâce aux possibilités offertes par la blockchain.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 u-mb-30">
        <div class="media">
          <span class="icon icon-Starship2 text-primary u-fs-50 mr-4"></span>
          <div class="media-body">
            <h4>
              Partout, tout le temps
            </h4>
            <p>
              Vos contrats peuvent être déclanchés
              depuis n'importe où dans le monde à n'importe quelle heure.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
