<section class="u-py-60 bg-gray-v2 dino-seo-clients">
  <div class="container">
      <div class="row">
          <div class="col-12 d-md-flex justify-content-between text-center">
              <div class="p-3">
                  <img src="assets/img/partner/micosoft.png" alt="Dino">
              </div>
              <div class="p-3">
                  <img src="assets/img/partner/envato.png" alt="Dino">
              </div>
              <div class="p-3">
                  <img src="assets/img/partner/dribbble.png" alt="Dino">
              </div>
              <div class="p-3">
                  <img src="assets/img/partner/google.png" alt="Dino">
              </div>
              <div class="p-3">
                  <img src="assets/img/partner/micosoft.png" alt="Dino">
              </div>
          </div>
      </div>
  </div>
</section>