<section id="contact" class="startup-contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 mx-auto">
              <h2 class="h1 text-center text-white u-mb-30">
                  Do You Want to Start?
              </h2>
              <div class="u-h-4 u-w-50 bg-white rounded u-mb-70 mx-auto"></div>
              <form action="#" method="POST">
                  <div class="row">
                      <div class="col-md-6 u-mb-30">
                          <input type="text" placeholder="your name *">
                      </div>
                      <div class="col-md-6 u-mb-30">
                          <input type="email" placeholder="your email *">
                      </div>
                      <div class="col-md-6 u-mb-30">
                          <input type="tel" placeholder="your phonep">
                      </div>
                      <div class="col-md-6 u-mb-30">
                          <input type="tel" placeholder="your website">
                      </div>
                      <div class="col-12 u-mb-30">
                          <textarea rows="5" placeholder="your message"></textarea>
                      </div>
                  </div>
                  <div class="text-center">
                      <button class="btn btn-white"> Send Request</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>