<section id="features">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="h4 text-capitalize">
          Assurer votre smartphone
        </h4>
        <h2 class="h1 text-capitalize">
          Seulement <span class="text-primary u-fw-700">3</span> étapes simples
        </h2>
        <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-30 mx-auto"></div>
      </div>
      <div class="col-12">
        <ul
          class="nav nav-tabs justify-content-center tabs-v3 text-center u-ff-dosis u-fw-600 u-fs-20"
          role="tablist"
        >
          <li class="nav-item mx-2">
            <a
              class="nav-link active p-4"
              data-toggle="tab"
              href="#tab1_1"
              role="tab"
            >
              <span class="u-fs-md-30 d-block mb-1">01</span>
              Connectez-vous
            </a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link p-4" data-toggle="tab" href="#tab1_2" role="tab">
              <span class="u-fs-md-30 d-block mb-1">02</span>
              Créez vos contrats
            </a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link p-4" data-toggle="tab" href="#tab1_3" role="tab">
              <span class="u-fs-md-30 d-block mb-1">03</span>
              Profitez
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab1_1">
            <div class="row u-mt-70 u-mb-20 align-items-center">
              <div class="col-lg-6 dino-feat">
                <img src="assets/img/startup/s-2.png" alt="Dino" />
              </div>
              <div class="col-lg-6 col-md-12">
                <h2 class="mb-4">
                  Créer un compte sur notre plateforme
                </h2>
                <p>
                  En créant un compte vous aurez directement accès à la totalité
                  de nos services d'assurances, nos infrastructures numériques et
                  nos applications mobiles.
                </p>

                <ul class="list-unstyled u-fw-600 u-lh-2 u-mt-30">
                  <li>
                    <i class="fa fa-check text-primary mr-2"></i>Application web
                    et mobile professionnelles.
                  </li>
                  <li>
                    <i class="fa fa-check text-primary mr-2"></i>Portefeuille
                    pour de la crypto-monnaie.
                  </li>
                  <li>
                    <i class="fa fa-check text-primary mr-2"></i>Multitudes de
                    couvertures & de contrats d'assurances pour vos équipements.
                  </li>
                  <li>
                    <i class="fa fa-check text-primary mr-2"></i>Support
                    technique rapide et efficace.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab1_2">
            <div class="row u-mt-70 u-mb-20 align-items-center">
              <div class="col-lg-6 dino-feat mb-5">
                <img src="assets/img/seo/s-2.png" alt="Dino" />
              </div>
              <div class="col-lg-6 col-md-12">
                <h2 class="mb-4">
                  Choissisez votre couverture/contrat
                </h2>
                <p>
                  vous aurez accès à une multitudes de couvertures/contrats
                  d'assurances selon vos besoins et aux meilleurs tarifs.
                  Contrats que vous pouvez gérer depuis notre application mobile.
                </p>
                <ul class="list-unstyled u-fw-600 u-lh-2 u-mt-30">
                  <li>
                    <i class="fa fa-check text-primary mr-2"></i>Une interface de applicative facile à utiliser.
                  </li>
                  <li>
                    <i class="fa fa-check text-primary mr-2"></i>Des contrats
                    disponibles en moins d'une minute (1min).
                  </li>
                  <li>
                    <i class="fa fa-check text-primary mr-2"></i>Payer les
                    mensuallités avec de la crypto-monnaies ou par mobile banking.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab1_3">
            <div class="row u-mt-70 u-mb-20 align-items-center">
              <div class="col-lg-6 dino-feat mb-5">
                <img src="assets/img/startup/s-2.png" alt="Dino" />
              </div>
              <div class="col-lg-6 col-md-12">
                <h2 class="mb-4">
                  Profitez, profitez, profitez
                </h2>
                <p>
                  Prennez des vacances, faites le tour du monde, maintenant
                  vous et votre entreprise sont couvert, n'importe où dans le
                  monde vous serez en sécurité.
                </p>
                <ul class="list-unstyled u-fw-600 u-lh-2 u-mt-30">
                  <li>
                    <i class="fa fa-check text-primary mr-2"></i>Support
                    disponible à tout moment et sur plusieurs canneaux
                  </li>
                  <li>
                    <i class="fa fa-check text-primary mr-2"></i>Des contrats
                    immutables & infalsifiables
                  </li>
                  <li>
                    <i class="fa fa-check text-primary mr-2"></i>Toute notre
                    puissance technologique pour votre sécurité
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
