<section class="u-py-40">
      <div class="container">
          <p class="mb-0 text-center">
              © 2019 build by <a target="_blank" href="https://github.com/ulysstech">ulyss team</a>
          </p>
      </div>
  </section>
</footer>
<!-- Start Go To Top -->
<div class="scroll-top bg-white box-shadow-v2">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>

<!-- End Go To Top -->
<!-- Plugins JS -->
<script src="assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="assets/vendor/popper.js/dist/popper.min.js"></script>
<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/vendor/slick-carousel/slick/slick.min.js"></script>
<script src="assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="assets/vendor/isotope/dist/isotope.pkgd.min.js"></script>
<script src="assets/vendor/parallax.js/parallax.min.js"></script>
<script src="assets/vendor/wow/dist/wow.min.js"></script>
<script src="assets/vendor/vide/dist/jquery.vide.min.js"></script>
<script src="assets/vendor/typed.js/lib/typed.min.js"></script>
<script src="assets/vendor/appear-master/dist/appear.min.js"></script>
<script src="assets/vendor/jquery.countdown/dist/jquery.countdown.min.js"></script>

<!-- Main JS -->
<script src="assets/js/dino.js"></script>
<script src="assets/js/custom.js"></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135356860-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135356860-1');
</script>
