<footer class="footer-startup">
  <section class="bg-gray-v2">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 mb-5 mb-lg-0">
                <h1 class="h2 logo-font">Ulyss</h1>
                  <!-- <img src="assets/img/logo-inverse.png" alt="Dino"> -->
                  <p class="u-my-40">
                      Bien sûr ce n'est qu'un début, on évolue très rapidement, alors pourquoi ne pas rester, rejoindre la communauté ? </p>
                  <form class="form-inline">
                      <div class="input-group box-shadow-v1 u-rounded-50 bg-white u-of-hidden">
                          <div class="input-group-addon bg-white border-0 pl-4 pr-0">
                              <span class="icon icon-Mail text-primary"></span>
                          </div>
                          <input type="text" class="form-control border-0 p-3" placeholder="ajouter votre email ici">
                          <button type="submit" class="input-group-btn btn bg-white">
                          <span class="icon icon-Arrow text-primary"></span>
                      </button>
                      </div>
                  </form>
              </div>
              <div class="col-lg-2 col-md-6 ml-auto mb-5 mb-lg-0">
                  <h4>Liens utils</h4>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-3 u-mb-40"></div>
                  <ul class="list-unstyled u-lh-2 ">
                      <li><a href="#">Produits</a></li>
                      <li><a href="#">Ils parlent de nous</a></li>
                      <li><a href="#">Tarifs</a></li>
                      <li><a href="#">Contact</a></li>
                      <li><a href="#">Nos actualités</a></li>
                  </ul>
              </div>
              <div class="col-lg-3 col-md-6 ml-auto mb-5 mb-lg-0">
                  <h4>Contactez-nous</h4>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-3 u-mb-40"></div>
                  <ul class="list-unstyled">
                      <li class="mb-2">
                          <span class="icon icon-Phone2 text-primary mr-2"></span>{{site.data.contact.tel}}
                      </li>
                      <li class="mb-2">
                          <span class="icon icon-Mail text-primary mr-2"></span> <a href="mailto:{{site.data.contact.email}}">{{site.data.contact.email}}</a>
                      </li>
                      <li class="mb-2">
                          <span class="icon icon-Pointer text-primary mr-2"></span> {{site.data.contact.address}}
                      </li>
                  </ul>
                  <ul class="list-inline social social-rounded social-white mt-4">
                    {% for smedia in site.data.contact.social %}
                      <li class="list-inline-item">
                          <a href="{{smedia.url}}" target="_blank"><i class="fa fa-{{smedia.name}}"></i></a>
                      </li>
                    {% endfor %}
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
  <section class="u-py-40">
      <div class="container">
          <p class="mb-0 text-center">
              © 2019 build by <a target="_blank" href="https://github.com/ulystech">ulys team</a>
          </p>
      </div>
  </section>
</footer>
<!-- Start Go To Top -->
<div class="scroll-top bg-white box-shadow-v2">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
<!-- End Go To Top -->
<!-- Plugins JS -->
<script src="assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="assets/vendor/popper.js/dist/popper.min.js"></script>
<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/vendor/slick-carousel/slick/slick.min.js"></script>
<script src="assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="assets/vendor/isotope/dist/isotope.pkgd.min.js"></script>
<script src="assets/vendor/parallax.js/parallax.min.js"></script>
<script src="assets/vendor/wow/dist/wow.min.js"></script>
<script src="assets/vendor/vide/dist/jquery.vide.min.js"></script>
<script src="assets/vendor/typed.js/lib/typed.min.js"></script>
<script src="assets/vendor/appear-master/dist/appear.min.js"></script>
<script src="assets/vendor/jquery.countdown/dist/jquery.countdown.min.js"></script>
<!-- Main JS -->
<script src="assets/js/dino.js"></script>
<script src="assets/js/custom.js"></script>