<footer class="footer-startup">
  <section class="bg-gray-v2">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 mb-5 mb-lg-0">
                <h1 class="h2 logo-font">Ulyss</h1>
              
                  <p class="u-my-40">
                      Bien sûr, ce n'est qu'un début, on évolue très rapidement, alors pourquoi ne pas rester et vous pouvez nous aider en participant à ce petit questionnaire. Merci </p>
                  <form class="form-inline">
                      <div class="input-group box-shadow-v1 u-rounded-50 bg-white u-of-hidden">
                        {% include _questionnaire.html %}
                          </div>
                  </form>
              </div>
              <div class="col-lg-2 col-md-6 ml-auto mb-5 mb-lg-0">
                  <h4>Liens utils</h4>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-3 u-mb-40"></div>
                  <ul class="list-unstyled u-lh-2 ">
                      <li><a href="#">Produits</a></li>
                      <li><a href="#">Ils parlent de nous</a></li>
                      <li><a href="#">Tarifs</a></li>
                      <li><a href="#">Contact</a></li>
                      <li><a href="#">Nos actualités</a></li>
                  </ul>
              </div>
              <div class="col-lg-3 col-md-6 ml-auto mb-5 mb-lg-0">
                  <h4>Contactez-nous</h4>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-3 u-mb-40"></div>
                  <ul class="list-unstyled">
                      <li class="mb-2">
                          <span class="icon icon-Phone2 text-primary mr-2"></span>{{site.data.contact.tel}}
                      </li>
                      <li class="mb-2">
                          <span class="icon icon-Mail text-primary mr-2"></span> <a href="mailto:{{site.data.contact.email}}">{{site.data.contact.email}}</a>
                      </li>
                      <li class="mb-2">
                          <span class="icon icon-Pointer text-primary mr-2"></span> {{site.data.contact.address}}
                      </li>
                  </ul>
                  <ul class="list-inline social social-rounded social-white mt-4">
                    {% for smedia in site.data.contact.social %}
                      <li class="list-inline-item">
                          <a href="{{smedia.url}}" target="_blank"><i class="fa fa-{{smedia.name}}"></i></a>
                      </li>
                    {% endfor %}
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
  