<section id="pricing" class="u-pt-30">
  <div class="container text-center">
      <div class="row">
          <div class="col-12">
              <h2 class="h1">
                  Tarifs
              </h2>
              <h4 class="h4">
                  Pour votre smartphone professionnel ou personnel
              </h4>
              <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-20 mx-auto"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
              <div class="bg-white box-shadow-v2 rounded py-5">
                  <img src="assets/img/svg/plane-up.svg" class="u-h-90" alt="Dino">
                  <h4 class="u-mb-35 u-mt-15">
                      Pro Indé
                  </h4>
                  <hr class="m-0">
                  <ul class="list-unstyled u-py-30 u-lh-2 h-min-250">
                      <li><strong>Garanatie</strong> panne</li>
                      <li><strong>Garanatie</strong> casse</li>
                      <li><strong>Garanatie</strong> occidation</li>
                      <li><strong>Garanatie</strong> vol</li>
                      <li><strong>Remplacement </strong> moins de 24h</li>
                  </ul>
                  <hr class="m-0">
                  <h2 class="u-fs-60 u-fw-600 u-my-20">
                    {{ site.data.tarifs.pro.jour }}<sup class="u-fs-20">Ar/J</sup>
                  </h2>
                  <a href="#" class="btn btn-white btn-rounded">
                  Choisir
              </a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
              <div class="bg-white box-shadow-v2 rounded py-5">
                  <img src="assets/img/svg/phone-book.svg" class="u-h-90" alt="Dino">
                  <h4 class="u-mb-35 u-mt-15">
                      Individuel
                  </h4>
                  <hr class="m-0">
                  <ul class="list-unstyled u-py-30 u-lh-2 h-min-250">
                    <li><strong>Garanatie</strong> panne</li>
                    <li><strong>Garanatie</strong> casse</li>
                    <li><strong>Garanatie</strong> occidation</li>
                    <li><strong>Garanatie</strong> vol</li>
                    <li><strong>Courture </strong> utilisateur tiers ou enfant</li>

                  </ul>
                  <hr class="m-0">
                  <h2 class="u-fs-60 u-fw-600 u-my-20 text-primary">
                    {{ site.data.tarifs.solo.jour }}<sup class="u-fs-20">Ar/J</sup>
                  </h2>
                  <a href="#" class="btn btn-white btn-rounded btn-disabled">
                  Choisir
              </a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4 dino-seo-col">
              <div class="bg-white box-shadow-v2 rounded py-5">
                  <img src="assets/img/svg/dollar-bag.svg" class="u-h-90" alt="Dino">
                  <h4 class="u-mb-35 u-mt-15">
                      Entreprise
                  </h4>
                  <hr class="m-0">
                  <ul class="list-unstyled u-py-30 u-lh-2 h-min-250">
                    <li><strong>Garanatie</strong> panne</li>
                    <li><strong>Garanatie</strong> casse</li>
                    <li><strong>Garanatie</strong> occidation</li>
                    <li><strong>Garanatie</strong> vol</li>
                    <li><strong>Remplacement</strong> moins de 24h</li>
                    <li><strong>Couverture</strong> mondiale</li>
                  </ul>
                  <hr class="m-0">
                  <h2 class="u-fs-60 u-fw-600 u-my-20">
                    {{ site.data.tarifs.corp.jour }}<sup class="u-fs-20">Ar/J</sup>
                  </h2>
                  <a href="#" class="btn btn-white btn-rounded">
                  Choisir
              </a>
              </div>
          </div>
      </div>
  </div>
</section>