<section id="reviews" class="startup-reviews u-pb-40">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <h2 class="h1 text-white">
                  Ce que nos clients disent sur nous
              </h2>
              <div class="u-h-4 u-w-50 bg-white rounded mt-4 u-mb-20 mx-auto"></div>
          </div>
      </div>
      <div data-init="carousel" data-slick='{ "slidesToShow":1, "dots":true, "arrows":false, "dotsClass":"slick-dots dots-white text-center"}' data-slick-margin="30">
          <div class="p-5 rounded bg-white text-center box-shadow-v2 my-4">
              <img class="rounded-circle mx-auto mb-4 u-w-100" src="assets/img/person/1.jpg" alt="">
              <h4>Elon Musk</h4>
              <p class="text-muted">
                  CEO of SpaceX
              </p>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores ab, cupiditate quasi commodi voluptatem tenetur ratione aliquid magni omnis beatae neque nostrum ipsa animi sapiente officiis corporis officia explicabo distinctio perferendis necessitatibus nemo ut saepe. Recusandae magnam nemo minima?</p>
        </div>
          <div class="p-5 rounded bg-white text-center box-shadow-v2 my-4">
              <img class="rounded-circle mx-auto mb-4 u-w-100" src="assets/img/person/2.jpg" alt="">
              <h4>Bill Gates</h4>
              <p class="text-muted">
                  Main of year
              </p>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores ab, cupiditate quasi commodi voluptatem tenetur ratione aliquid magni omnis beatae neque nostrum ipsa animi sapiente officiis corporis officia explicabo distinctio perferendis necessitatibus nemo ut saepe. Recusandae magnam nemo minima?</p>
       </div>
          <div class="p-5 rounded bg-white text-center box-shadow-v2 my-4">
              <img class="rounded-circle mx-auto mb-4 u-w-100" src="assets/img/person/3.jpg" alt="">
              <h4>David Tennant</h4>
              <p class="text-muted">
                  Le 11eme Docteur
              </p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores ab, cupiditate quasi commodi voluptatem tenetur ratione aliquid magni omnis beatae neque nostrum ipsa animi sapiente officiis corporis officia explicabo distinctio perferendis necessitatibus nemo ut saepe. Recusandae magnam nemo minima?</p>
          </div>
      </div>
  </div>
</section>