<section class="u-py-30 startup-statistics">
  <div class="container">
      <div class="row text-center">
          <div class="col-lg-3 col-md-6 u-my-20 text-white">
              <h4 class="mb-0 u-fs-60 text-green">
                  5000+
              </h4>
              <p class="u-fs-20">
                  Projects
              </p>
          </div>
          <div class="col-lg-3 col-md-6 u-my-20 text-white">
              <h4 class="mb-0 u-fs-60 text-green">
                  8000+
              </h4>
              <p class="u-fs-20">
                  Solutions
              </p>
          </div>
          <div class="col-lg-3 col-md-6 u-my-20 text-white">
              <h4 class="mb-0 u-fs-60 text-green">
                  200+
              </h4>
              <p class="u-fs-20">
                  Countries
              </p>
          </div>
          <div class="col-lg-3 col-md-6 u-my-20 text-white">
              <h4 class="mb-0 u-fs-60 text-green">
                  10M+
              </h4>
              <p class="u-fs-20">
                  Customers
              </p>
          </div>
      </div>
  </div>
</section>