<section id="team" class="startup-team">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <h2 class="h1">
                  Our Best Team
              </h2>
              <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-20 mx-auto"></div>
          </div>
          <div class="col-lg-3 col-md-6 mt-4">
              <div class="card text-center show-onHover-parent">
                  <div class="u-pos-rel">
                      <img class="w-100" src="assets/img/person/1.jpg" alt="Dino">
                      <div class="show-onHover u-pos-abs-center u-w-100p">
                          <ul class="list-inline social social-white social-sm mt-4">
                              <li class="list-inline-item">
                                  <a href="#"><i class="fa fa-facebook"></i></a>
                              </li>
                              <li class="list-inline-item">
                                  <a href="#"><i class="fa fa-twitter"></i></a>
                              </li>
                              <li class="list-inline-item">
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="py-4">
                      <h4>Alex Brown</h4>
                      <p class="mb-0">
                          Founder & CEO
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-4">
              <div class="card text-center show-onHover-parent">
                  <div class="u-pos-rel">
                      <img class="w-100" src="assets/img/person/2.jpg" alt="Dino">
                      <div class="show-onHover u-pos-abs-center u-w-100p">
                          <ul class="list-inline social social-white social-sm mt-4">
                              <li class="list-inline-item">
                                  <a href="#"><i class="fa fa-facebook"></i></a>
                              </li>
                              <li class="list-inline-item">
                                  <a href="#"><i class="fa fa-twitter"></i></a>
                              </li>
                              <li class="list-inline-item">
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="py-4">
                      <h4>John Simpson</h4>
                      <p class="mb-0">
                          Creative Director
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-4">
              <div class="card text-center show-onHover-parent">
                  <div class="u-pos-rel">
                      <img class="w-100" src="assets/img/person/3.jpg" alt="Dino">
                      <div class="show-onHover u-pos-abs-center u-w-100p">
                          <ul class="list-inline social social-white social-sm mt-4">
                              <li class="list-inline-item">
                                  <a href="#"><i class="fa fa-facebook"></i></a>
                              </li>
                              <li class="list-inline-item">
                                  <a href="#"><i class="fa fa-twitter"></i></a>
                              </li>
                              <li class="list-inline-item">
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="py-4">
                      <h4>John Doe</h4>
                      <p class="mb-0">
                          Senior Developer
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-4">
              <div class="card text-center show-onHover-parent">
                  <div class="u-pos-rel">
                      <img class="w-100" src="assets/img/person/4.jpg" alt="Dino">
                      <div class="show-onHover u-pos-abs-center u-w-100p">
                          <ul class="list-inline social social-white social-sm mt-4">
                              <li class="list-inline-item">
                                  <a href="#"><i class="fa fa-facebook"></i></a>
                              </li>
                              <li class="list-inline-item">
                                  <a href="#"><i class="fa fa-twitter"></i></a>
                              </li>
                              <li class="list-inline-item">
                                  <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="py-4">
                      <h4>James Anderson</h4>
                      <p class="mb-0">
                          Business Analyst
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>