<section id="work" class="u-pt-40 u-pb-20">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <h2 class="h1">
                  Our Awesome Works
              </h2>
              <div class="u-h-4 u-w-50 bg-primary rounded mt-4 mx-auto"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-7 mx-auto mt-5">
              <ul class="nav nav-tabs justify-content-center tabs-v2 box-shadow-v2" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#tab2_1" role="tab" aria-expanded="true">
                      All Work
                  </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#tab2_2" role="tab" aria-expanded="false">
                      Branding
                  </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#tab2_3" role="tab" aria-expanded="false">
                      Corporate
                  </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#tab2_4" role="tab" aria-expanded="false">
                      Finance
                  </a>
                  </li>
              </ul>
          </div>
          <div class="col-lg-10 mx-auto mt-5">
              <div class="tab-content tab__slider">
                  <div class="tab-pane fade show active" id="tab2_1" role="tabpanel">
                      <div data-init="carousel" data-slick-margin="15" data-slick='{
        "slidesToShow":2,
        "slidesToScroll":1,
        "arrows":true,
        "prevArrow":"<div class=\"slick-prev box-shadow-v1\"><i class=\"fa fa-angle-left\"></i></div>",
        "nextArrow":"<div class=\"slick-next box-shadow-v1\"><i class=\"fa fa-angle-right\"></i></div>",
        "responsive": [{"breakpoint":1024, "settings":{"arrows":false, "dots":true, "dotsClass":"slick-dots text-center mt-4"}}, {"breakpoint":700, "settings":{"arrows":false, "slidesToShow":1, "dots":true, "dotsClass":"slick-dots text-center mt-4"}}]}'>
                          <div class="card">
                              <img src="assets/img/startup/s-3.jpg" alt="Dino">
                              <div class="py-4">
                                  <h3>
                                      <a href="#">Your awesome title here</a>
                                  </h3>
                                  <p>Branding Design</p>
                              </div>
                          </div>
                          <div class="card">
                              <img src="assets/img/startup/s-4.jpg" alt="Dino">
                              <div class="py-4">
                                  <h3>
                                      <a href="#">Your awesome title here</a>
                                  </h3>
                                  <p>SaaS Marketing</p>
                              </div>
                          </div>
                          <div class="card">
                              <img src="assets/img/startup/s-3.jpg" alt="Dino">
                              <div class="py-4">
                                  <h3>
                                      <a href="#">Your awesome title here</a>
                                  </h3>
                                  <p>Business Marketing</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="tab2_2" role="tabpanel">
                      <div data-init="carousel" data-slick-margin="15" data-slick='{
        "slidesToShow":2,
        "slidesToScroll":1,
        "arrows":true,
        "prevArrow":"<div class=\"slick-prev box-shadow-v1\"><i class=\"fa fa-angle-left\"></i></div>",
        "nextArrow":"<div class=\"slick-next box-shadow-v1\"><i class=\"fa fa-angle-right\"></i></div>",
        "responsive": [{"breakpoint":1024, "settings":{"arrows":false, "dots":true, "dotsClass":"slick-dots text-center mt-4"}}, {"breakpoint":700, "settings":{"arrows":false, "slidesToShow":1, "dots":true, "dotsClass":"slick-dots text-center mt-4"}}]}'>
                          <div class="card">
                              <img src="assets/img/startup/s-3.jpg" alt="Dino">
                              <div class="py-4">
                                  <h3>
                                      <a href="#">Your awesome title here</a>
                                  </h3>
                                  <p>Branding Design</p>
                              </div>
                          </div>
                          <div class="card">
                              <img src="assets/img/startup/s-4.jpg" alt="Dino">
                              <div class="py-4">
                                  <h3>
                                      <a href="#">Your awesome title here</a>
                                  </h3>
                                  <p>SaaS Marketing</p>
                              </div>
                          </div>
                          <div class="card">
                              <img src="assets/img/startup/s-3.jpg" alt="Dino">
                              <div class="py-4">
                                  <h3>
                                      <a href="#">Your awesome title here</a>
                                  </h3>
                                  <p>Business Marketing</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="tab2_3" role="tabpanel">
                      <div data-init="carousel" data-slick-margin="15" data-slick='{
        "slidesToShow":2,
        "slidesToScroll":1,
        "arrows":true,
        "prevArrow":"<div class=\"slick-prev box-shadow-v1\"><i class=\"fa fa-angle-left\"></i></div>",
        "nextArrow":"<div class=\"slick-next box-shadow-v1\"><i class=\"fa fa-angle-right\"></i></div>",
        "responsive": [{"breakpoint":1024, "settings":{"arrows":false, "dots":true, "dotsClass":"slick-dots text-center mt-4"}}, {"breakpoint":700, "settings":{"arrows":false, "slidesToShow":1, "dots":true, "dotsClass":"slick-dots text-center mt-4"}}]}'>
                          <div class="card">
                              <img src="assets/img/startup/s-3.jpg" alt="Dino">
                              <div class="py-4">
                                  <h3>
                                      <a href="#">Your awesome title here</a>
                                  </h3>
                                  <p>Branding Design</p>
                              </div>
                          </div>
                          <div class="card">
                              <img src="assets/img/startup/s-4.jpg" alt="Dino">
                              <div class="py-4">
                                  <h3>
                                      <a href="#">Your awesome title here</a>
                                  </h3>
                                  <p>SaaS Marketing</p>
                              </div>
                          </div>
                          <div class="card">
                              <img src="assets/img/startup/s-3.jpg" alt="Dino">
                              <div class="py-4">
                                  <h3>
                                      <a href="#">Your awesome title here</a>
                                  </h3>
                                  <p>Business Marketing</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="tab2_4" role="tabpanel">
                      <div data-init="carousel" data-slick-margin="15" data-slick='{
        "slidesToShow":2,
        "slidesToScroll":1,
        "arrows":true,
        "prevArrow":"<div class=\"slick-prev box-shadow-v1\"><i class=\"fa fa-angle-left\"></i></div>",
        "nextArrow":"<div class=\"slick-next box-shadow-v1\"><i class=\"fa fa-angle-right\"></i></div>",
        "responsive": [{"breakpoint":1024, "settings":{"arrows":false, "dots":true, "dotsClass":"slick-dots text-center mt-4"}}, {"breakpoint":700, "settings":{"arrows":false, "slidesToShow":1, "dots":true, "dotsClass":"slick-dots text-center mt-4"}}]}'>
                          <div class="card">
                              <img src="assets/img/startup/s-3.jpg" alt="Dino">
                              <div class="py-4">
                                  <h3>
                                      <a href="#">Your awesome title here</a>
                                  </h3>
                                  <p>Branding Design</p>
                              </div>
                          </div>
                          <div class="card">
                              <img src="assets/img/startup/s-4.jpg" alt="Dino">
                              <div class="py-4">
                                  <h3>
                                      <a href="#">Your awesome title here</a>
                                  </h3>
                                  <p>SaaS Marketing</p>
                              </div>
                          </div>
                          <div class="card">
                              <img src="assets/img/startup/s-3.jpg" alt="Dino">
                              <div class="py-4">
                                  <h3>
                                      <a href="#">Your awesome title here</a>
                                  </h3>
                                  <p>Business Marketing</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>