<!DOCTYPE html>
<html lang="fr-FR">

<head>
    {% include header_meta.html %}
</head>

<body id="top" class="dino-startup">
  {{ content }}
    <!-- start Header
        @include header menu
        End Header -->
    <!-- Start Hero -->

    <!-- End Hero -->
    <!-- Start About -->

    <!-- End About -->
    <!-- Start Branding -->

    <!-- End Branding -->
    <!-- Start Features -->

    <!-- End Features -->
    <!-- Start Statistics -->

    <!-- End Statistics -->
    <!-- Start Works -->

    <!-- End Works -->
    <!-- Start Team -->

    <!-- End Team -->
    <!-- Start Advantages -->

    <!-- End Advantages -->
    <!-- Start Reviews -->

    <!-- End Reviews -->
    <!-- Start Clients -->

    <!-- End Clients -->
    <!-- Start Pricing -->

    <!-- End Pricing -->
    <!-- Start Blog -->

    <!-- End Blog -->
    <!-- Start Contact -->

    <!-- End Contact -->
    <!-- Start Footer -->
<!-- Start Footer -->
{% include _footer_meta.html %}
</body>

</html>